@font-face {
	font-family: "Jalnan";
	src: url("../../../public/fonts/JalnanTTF.ttf") format("truetype");
}

/*
@font-face {
	font-family: "Pretendard";
	src: url("../../../public/fonts/PretendardTTF.ttf");
}
*/

* {
	margin: 0;
	padding: 0;
}

body {
	padding: 0;
	margin: 0;
	font-family: "Jalnan";
	background-color: #f2edd7;
}

.portfolio {
	display: flex;
	flex-direction: row;
}

h2 {
	padding-left: 36vw;
	padding-top: 3vw;
	padding-bottom: 2vw;
	font-size: 2.5vw;
}

.my-card {
	padding: 1vw;
	display: flex;
	flex-direction: column;
	width: 22vw;
	height: 23vw;
	background-color: #ffeca8;
	margin-left: 10vw;
	margin-bottom: 3vw;
	border-radius: 0.7vw;
	box-shadow: 1px 3px 3px #00000020;
	overflow: auto;
}

.my-card-header {
	display: flex;
}

.my-card .profile_img {
	width: 5vw;
	height: 5vw;
	border-radius: 10vw;
	margin: 1vw;
	border: 3px solid #422613;
}

.my-card-intro {
	display: flex;
	align-items: center;
	flex-direction: column;
	align-items: flex-start;
	justify-content: flex-end;
	margin: 1.5vw 0;
}

.my-card-intro p {
	margin: 0vw;
}

.card-name {
	font-size: 1.5vw;
	font-weight: 600;
	letter-spacing: 0.3vw;
}

.card-email {
	font-size: 0.9vw;
	letter-spacing: 0.1vw;
}

.word-limit {
	/*font-family: "Pretendard";*/
	font-weight: 500;
	font-size: 0.85vw;
	text-align: right;
}

.my-card-content {
	font-size: 1.25vw;
	padding: 1vw;
	margin-bottom: 0.7vw;
	min-height: 11vw;
	background-color: #fff9e3;
	border-radius: 0.5vw;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	overflow: auto;
}

.my-card-content textarea {
	resize: none;
	height: 8vw;
	font-size: 1vw;
	border: none;
	background-color: inherit;
	flex-grow: 1;
}

.modified-button {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 2vw;
	background-color: #dbd8d8a3;
	border-radius: 0.5vw;
	border: none;
	font-family: inherit;
	font-size: 1vw;
}

.modified-button:hover {
	cursor: pointer;
	background-color: #ffd767;
	transition: 0.5s all;
	border-radius: 0.6vw;
}

.my-card-content textarea:focus,
.modified-button:focus {
	outline: none;
}

.portfolio-info {
	display: flex;
	padding-left: 3vw;
	width: 60vw;

	.profile,
	.section {
		border-radius: 0.5vw;
		box-shadow: 1px 3px 3px #00000020;
		background-color: #ffeca8;
	}

	.section {
		margin: 0.5vw 0 2vw;
		padding: 1.5vw;
		width: 55vw;
	}

	.title-bar {
		height: 4vw;
		display: flex;
		align-items: center;
		justify-content: space-between;
		margin: 0 1vw;
		border-bottom: 1px solid #422613;
	}

	.title-bar h3 {
		font-weight: 300;
		font-size: 1.8vw;
	}

	.title-bar button {
		border: none;
		background: none;
		display: inline;
		padding: 0.4vw;
		cursor: pointer;
		font-size: 1vw;
		align-self: flex-end;
		margin-bottom: 0.5vw;
	}

	.title-bar button:hover {
		background-color: #dbd8d8a3;
		transition: 0.5s all;
		border-radius: 0.6vw;
	}

	.title-bar button:focus {
		outline: none;
	}

	.education,
	.awards,
	.certificate,
	.projects {
		margin-bottom: 2vw;
	}
}

.portfolio-section {
	margin: 0 1vw;
	display: flex;
	align-items: center;
	justify-content: space-between;
	border-top: 1px solid #422613;
	font-size: 1.15vw;

	.item {
		/*font-family: "Pretendard";*/
		font-weight: 600;
		margin: 0.5vw;
		flex-grow: 1;
	}

	.item input {
		font-weight: 450;
		background: none;
		border: none;
		padding: 0.5vw 0;
		display: flex;
		width: 100%;
	}

	.item.awards,
	.item.certificate {
		width: 100%;
		display: flex;
		justify-content: space-between;
		align-items: flex-start;
	}

	.details {
		margin-left: 2rem;
		flex-grow: 1;
	}

	.date {
		display: flex;
		align-items: center;
		font-size: 1vw;
		padding: 0.15vw 0;
	}

	.date input {
		max-width: 2vw;
		text-align: center;
		padding-right: 0;
		-webkit-appearance: none;
	}

	.date input[name="startYear"],
	.date input[name="endYear"] {
		max-width: 3vw;
		text-align: center;
	}

	.date input[type="number"]::-webkit-inner-spin-button {
		-webkit-appearance: none;
	}

	.date span {
		padding: 0 0.2vw;
	}

	textarea {
		background-color: inherit;
		border: none;
		width: 100%;
		resize: none;
	}

	.buttons,
	.btn {
		display: flex;
		padding: 0;
		margin: 0.25vw;
	}

	.chipset {
		gap: 0.7vw;
	}

	.skill {
		background-color: #fff9e3;
		height: 2.2vw;
		border-radius: 0.6vw;
		flex-grow: 0;
		text-align: center;
	}

	.item input:focus,
	.btn:active,
	.btn:focus,
	textarea:focus {
		border: none !important;
		outline: none !important;
	}

	.btn span {
		margin: 0 0.5vw;
	}
}

/* 모달 스타일 */
.modal-content {
	background-color: #f2edd7;
	width: 30vw;
	height: 14vw;
	display: flex;
	flex-direction: column;

	.modal-body {
		display: flex;
		justify-content: center;
		align-items: center;
		text-align: center;
		height: 7vw;

		p {
			margin: 0;
			padding: 0.2vw;
			font-size: 1.8vw;
		}
	}

	.modal-footer {
		border-top-color: #42261354;
		display: flex;
		justify-content: center;
		width: 30vw;
		height: 4vw;
		padding: 0.5vw;

		button {
			width: 6vw;
			height: 3vw;
			border-radius: none;
			border: none;
			font-size: 1.2vw;
		}

		.btn.btn-secondary {
			background-color: rgb(155, 154, 154);
			color: white;
		}

		.btn.btn-primary {
			background-color: #422613;
		}
	}
}
