<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Error!</title>
    <link href="./css/common.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="./css/mobile.css" />
    <script src="./js/footer.js"></script>
    <script src="./js/navbar.js"></script>
    <script src="/js/error.js"></script>
  </head>
  <body>
    <div id="wrap">
      <div class="error-container">
        <h1 class="error-title"></h1>
        <p class="error-message"></p>
        <a href="/main" class="error-btn">메인 페이지로 돌아가기</a>
      </div>
    </div>
  </body>
</html>
