@font-face {
  font-family: "Jalnan";
  font-weight: normal;
  font-style: normal;
  src: url("https://cdn.jsdelivr.net/gh/webfontworld/goodchoice/Jalnan.eot");
  src: url("https://cdn.jsdelivr.net/gh/webfontworld/goodchoice/Jalnan.eot?#iefix")
      format("embedded-opentype"),
    url("https://cdn.jsdelivr.net/gh/webfontworld/goodchoice/Jalnan.woff2")
      format("woff2"),
    url("https://cdn.jsdelivr.net/gh/webfontworld/goodchoice/Jalnan.woff")
      format("woff"),
    url("https://cdn.jsdelivr.net/gh/webfontworld/goodchoice/Jalnan.ttf")
      format("truetype");
  font-display: swap;
}

body {
  padding: 0;
  margin: 0;
  font-family: "Jalnan";
  background-color: #f2edd7;
}

a {
  text-decoration: none;
  color: #422613;
}

.logo {
  max-width: 50rem;
}

.container {
  display: flex;
  margin: 6rem 30rem;
  justify-content: space-between;
}

.logo-div{
  display: flex;
  align-items: center;
  margin-left: 5rem;
}

.form-container {
  min-width: 8rem;
  width: 32rem;
  background-color: white;
  padding: 1rem 0;
  border-radius: 1.5rem;
}

.form-title {
  display: flex;
  justify-content: left;
  font-size: 2rem;
  color: #555;
  border-bottom: 1px solid #555;
  padding-bottom: 1rem;
  padding-left: 2rem;
  margin: 1rem;
}

.form-group {
  display: flex;
  justify-content: center;
  margin-bottom: 1rem;
  position: relative;
}

.form-control-input {
  display: block;
  width: 100%;
  padding: 1rem;
  margin: 1.5rem 1.5rem 0 2rem;
  border: 1px solid #f4f4f4;
  border-radius: 1rem;
  background-color: #f2f2f2;
  color: #555;
  transition: all 0.2s;
}

.form-group i {
  position: absolute;
  left: 88%;
  top: 40px;
  color: rgb(101, 95, 102);
}

.form-control-submit-button {
  display: inline-block;
  width: 100%;
  height: 3.125rem;
  border: 1px solid #755139;
  margin: 4rem 1.5rem 1.5rem 2rem;
  border-radius: 1.5rem;
  background-color: #755139;
  color: #eeeeee;
  cursor: pointer;
  transition: all 0.2s;
  font-size: 1rem;
}

.password-and-signup {
  display: flex;
  justify-content: flex-end;
  margin-right: 2rem;
  color: #755139;
  font-weight: 600;
  font-size: 0.75rem;
  padding-bottom: 2rem;
}

.password-and-signup span::after {
  content: "|";
  margin: 0 0.75rem;
}

.password-and-signup span:last-child:after {
  content: "";
  margin: 0;
}

input::-ms-reveal,
input::-ms-clear {
  display: none;
}

/*navbar*/
.navbar{
	height: 6.25rem;
	display: flex;
	justify-content: space-between;
	align-items: flex-end;
	padding: 0 30rem 1.5rem;
	background-color: #f2edd7;
}
.navbar-logo {
	display: flex;
	justify-content: center;
	align-items: center;
}

.navbar-logo img{
	width: 7rem;
}

.navbar-menu {
	display: flex;
	list-style: none;
}

.navbar-menu a{
	margin-left: 2.5rem;
	padding: 0.5rem;
}

.navbar-menu :hover {
	border-bottom: 2px solid #422613;
}
